@import './mixins.scss';
@import './variables.scss';


.about{
    width:100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    @include respond(middle){
        width:60%;
    }
    &__title{
        font-size: 2rem;
        color:$blue-dark;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 1rem;

        @include respond(middle){
            margin: 3rem;
        }
    }

    &__img{

        display: inline-block;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
    }

    &__header{

        width: 80%;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        font-size: 2rem;
        text-transform: capitalize;
        letter-spacing: 2px;
        color:$blue-dark;
    }

    &__main{
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: flex-start;
       width: 80%;
       @include respond(middle){
           width:100%;
       }

       & label,
       & input,
       & textarea{
           font-size: 1.6rem;
           text-transform: capitalize;
           margin:1rem;
           width:100%;
           color:$blue-dark;
           @include respond(middle){
               font-size: 2rem;
               margin: 2rem;
               width: 100%;
           }
       }
       

       & input {
           border: none;
           border-bottom: 1px solid $blue-dark;
           min-width: min-content;
       }

        & textarea {

           outline: none;
           border: none;
           resize: none;
           border-bottom: 1px solid $blue-dark;
       }

    }
    &__button{
        padding: 1rem 3rem;
        border-radius: 10px;
        border: none;
        
        color: $blue-dark;
        letter-spacing: 2px;
        display: inline-block;
        margin: 0 auto;

        &:hover{
            background-color: $blue-dark;
            color:#eee;
            
        }
        &:active{
            transform: translateY(2px);
        }
    }
}