@import './mixins.scss';
@import './variables.scss';


.update{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 80vw 1fr;
    grid-template-rows: 5vh 60vh;
    justify-items: center;
    grid-row-gap: 5rem;
    & h2{
        grid-column: 2/3;
        letter-spacing: 3px;
        text-transform: uppercase;
        align-self: center;
        color: $blue-dark;
    }

    @media screen and (min-width:800px){
        grid-template-columns: 1fr 60vw 1fr;
    }
}



.update-form{
    width: 100%;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 1rem;
    

    & label{
        grid-column: 1/2;
        color: $blue-dark;
        font-size: 1.3rem;
        text-transform: uppercase;
        align-self: center;
    }
    & input,
    & select{
        grid-column: 2/3;
        border: none;
        outline: none;
        color: $blue-dark;
        padding: 5px 5px;
        font-size: 1.3rem;
        border-bottom: 1px solid $green-dark;
        
    }
    & select{
        appearance: none;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto;

        & option:focus{
            background-color: $green-dark;
        }
    }

    &__button{
        grid-column: 2/3;
        grid-row: 7/8;
        width:10rem;
        border: none;
        padding: 0.5rem 1.3rem;
        border-radius: 10px; 
        letter-spacing: 2px; 
        height: 3rem; 
        align-self: center; 
        color: $blue-dark;

        @media screen and(max-width:500px) {
            grid-row: auto;
        }
    }


    
}

.btn-update{
    justify-self: end;

    &:hover{
        background-color: $blue-dark;
        color:$yellow;
    }
    &:active{
        transform: translateY(-3px);
    }
}
.btn-cancel{
    justify-self: center;
    &:hover{
        background-color: grey;
        color: red;
    }
    &:active{
        transform: translateY(-3px);
    }

    @media screen and (max-width:500px) {
        justify-self: end;
    }

    @media screen and (min-width:900px){
        justify-self: end;
        margin-right: 13rem;
    }
}