@import './mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import './navbar.scss';
@import './container.scss';
@import './event-item.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

:root{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}