

@mixin respond($size) {

    @if $size == middle{
        @media screen and (min-width:600px){
            @content
        };
    }
    @if $size == large{
        @media screen and (min-width:1200px){
            @content
        };
    }
    
};

@mixin button {
             width: 7rem;
            height: 3rem;
            margin:1rem;
            border-radius: 5px;
            box-shadow: unset;
            border: unset;
            background-color: $blue-dark;
            color:$yellow;
            text-transform: uppercase;
}

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}