$blue-dark: rgba(5, 102, 141, 1);
$blue-light: rgba(2, 128, 144, 1);
$green-dark: rgba(0, 168, 150, 1);
$green-light: rgba(2, 195, 154, 1);
$yellow: rgba(240, 243, 189, 1);

$grey-light:#d7d7d9;
$grey:#cccccc;


