@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-image: linear-gradient(90deg, #05668d, #028090, #00a896, #02c39a);
  padding: 2rem 1rem;
  position: relative; }
  @media screen and (min-width: 600px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 15vh;
      padding: 1rem;
      align-items: center;
      overflow: hidden;
      margin-right: 0.5rem; } }
  .navbar__logo {
    color: #f0f3bd;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700; }
    @media screen and (min-width: 600px) {
      .navbar__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; } }
  .navbar__burger-2 {
    position: absolute;
    top: 2.5rem;
    right: 1.3rem;
    width: 3rem;
    height: 3px;
    border-radius: 3px;
    background-color: #f0f3bd;
    display: block;
    cursor: pointer; }
    @media screen and (min-width: 600px) {
      .navbar__burger-2 {
        display: none; } }
  .navbar__burger-1, .navbar__burger-3 {
    width: 3rem;
    height: 3px;
    border-radius: 3px;
    background-color: #f0f3bd;
    top: 2.5rem;
    right: 1.3rem;
    position: absolute;
    display: block;
    cursor: pointer; }
    @media screen and (min-width: 600px) {
      .navbar__burger-1, .navbar__burger-3 {
        display: none; } }
  .navbar__burger-3 {
    transform: translateY(7px); }
  .navbar__burger-1 {
    transform: translateY(-7px); }
  .navbar__nav {
    position: absolute;
    left: 0px;
    bottom: 60px;
    width: 20rem;
    margin: 1rem;
    background-color: #05668d;
    border-radius: 10px;
    z-index: 500; }
    @media screen and (min-width: 600px) {
      .navbar__nav {
        position: unset;
        top: unset;
        bottom: unset;
        width: 100%;
        background-color: unset;
        margin-left: 2rem; } }
    @media screen and (min-width: 1200px) {
      .navbar__nav {
        margin-left: 1rem; } }
    .navbar__nav__list {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex-wrap: nowrap;
      list-style: none;
      align-items: flex-start; }
      @media screen and (min-width: 600px) {
        .navbar__nav__list {
          flex-direction: unset;
          flex-wrap: unset;
          justify-content: space-around;
          align-items: center; } }
      @media screen and (min-width: 1200px) {
        .navbar__nav__list {
          margin-right: 1rem; } }
      .navbar__nav__list__link {
        font-size: 2rem;
        text-transform: uppercase;
        margin: 1.2rem;
        color: #f0f3bd;
        border: 1px solid transparent;
        padding: 0.5rem 1rem;
        cursor: pointer;
        height: min-content;
        display: block;
        outline: none; }
        @media screen and (min-width: 600px) {
          .navbar__nav__list__link {
            font-size: 1.6rem;
            margin: 1rem; } }
        @media screen and (min-width: 1200px) {
          .navbar__nav__list__link {
            font-size: 2rem; } }
        .navbar__nav__list__link:hover {
          border: 1px solid peru;
          background-color: #028090;
          border-radius: 3px; }

.router-link {
  text-decoration: none; }
  .router-link a {
    text-decoration: none; }

.link-router {
  text-decoration: none; }

.container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 2rem;
  padding: 2rem;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.event {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 1px solid #cccccc;
  padding: 1rem 2rem; }
  @media screen and (min-width: 600px) {
    .event {
      border: 1px solid #cccccc;
      width: 80%;
      margin-bottom: 2rem;
      border-radius: 5px;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.562);
      margin-left: 3rem; } }
  .event__title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 2rem;
    letter-spacing: 3px; }
    @media screen and (min-width: 600px) {
      .event__title {
        font-size: 3rem;
        letter-spacing: 5px;
        color: #05668d; } }
  .event__hostname {
    font-size: 1.6rem;
    color: #504f4f;
    margin-bottom: 1rem; }
    @media screen and (min-width: 600px) {
      .event__hostname {
        padding: 1rem 2rem; } }
  .event__category {
    display: none; }
    @media screen and (min-width: 600px) {
      .event__category {
        display: inline-block;
        font-size: 1.8rem;
        padding: 0.5rem 1rem;
        text-transform: capitalize; } }
  .event__date {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem; }
    @media screen and (min-width: 600px) {
      .event__date {
        font-size: 1.8rem;
        padding: 0.5rem 1rem; } }
  .event__address {
    margin-right: 0.5rem;
    margin-bottom: 1rem; }
    @media screen and (min-width: 600px) {
      .event__address {
        font-size: 1.8rem;
        text-transform: capitalize;
        padding: 0.5rem 1rem; } }
  .event__attendee {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .event__attendee img {
      border-radius: 50%;
      display: inline-block;
      width: 3rem;
      height: 3rem; }
    .event__attendee__counter {
      font-size: 1.6rem;
      margin-left: 1rem;
      color: #504f4f; }
  .event__description {
    display: none; }
    @media screen and (min-width: 600px) {
      .event__description {
        display: inline-block;
        margin: 1rem;
        font-size: 1.8rem; } }
  .event__button {
    display: none; }
    @media screen and (min-width: 600px) {
      .event__button {
        display: flex;
        justify-content: flex-end; }
        .event__button-item {
          width: 6.5rem;
          height: 3rem;
          text-transform: uppercase;
          color: #f0f3bd;
          background-color: #05668d;
          border-style: none;
          box-shadow: none;
          border-radius: 3px;
          display: inline-block; }
          .event__button-item:hover {
            opacity: 0.75; } }

.view {
  margin-right: 1rem; }

.eventform {
  display: none; }
  @media screen and (min-width: 600px) {
    .eventform {
      display: unset; }
      .eventform__form {
        width: 80%;
        display: grid;
        grid-template-rows: repeat(7, 6rem);
        border: 2px solid grey;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.637); }
        .eventform__form > div {
          display: flex; }
          .eventform__form > div > label {
            flex: 1;
            align-self: flex-end;
            border-bottom: 1px solid grey;
            padding: 0.5rem 1rem;
            color: #05668d; }
          .eventform__form > div > input,
          .eventform__form > div > select {
            flex: 2;
            box-shadow: none;
            border: none;
            border-bottom: 1px solid grey;
            border-left: 1px solid grey;
            color: #05668d;
            text-transform: uppercase; }
        .eventform__form label {
          font-size: 1.8rem;
          text-transform: capitalize; }
      .eventform__button__div {
        justify-content: flex-end; }
        .eventform__button__div > button {
          width: 7rem;
          height: 3rem;
          margin: 1rem;
          border-radius: 5px;
          box-shadow: unset;
          border: unset;
          background-color: #05668d;
          color: #f0f3bd;
          text-transform: uppercase;
          text-align: center;
          cursor: pointer; }
        .eventform__button__div > button:hover {
          background-color: grey;
          color: white; } }

.auto-complete {
  flex: 2;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  color: #05668d;
  text-transform: uppercase; }
  .auto-complete__container {
    width: 100%; }
  .auto-complete__input {
    background-color: white;
    width: 100%; }
  .auto-complete__dropdown {
    cursor: pointer; }

.suggestion-item {
  cursor: pointer; }
  .suggestion-item--active {
    background-color: #05668d;
    color: #f0f3bd; }

.auth {
  display: flex;
  justify-content: center;
  align-items: center; }

.login {
  width: 100%;
  height: 85vh;
  position: fixed;
  top: 15vh;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 600px) {
    .login {
      display: none; } }
  .login__grid {
    display: grid;
    grid-template-rows: repeat(3, 33.3333%);
    width: 60%;
    height: 15rem;
    margin-right: 4rem; }
    .login__grid > div {
      display: grid;
      grid-template-columns: 40% 60%;
      align-content: end; }
  .login__email-label, .login__password-label {
    grid-column: 1/2;
    padding-left: 1rem;
    color: #05668d;
    font-size: 1.6rem; }
  .login__email-input, .login__password-input {
    grid-column: 2/3;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(90deg, #05668d, #02c39a);
    color: #f0f3bd; }
  .login__button-submit {
    background-image: linear-gradient(90deg, #05668d, #02c39a);
    color: #f0f3bd;
    border: none;
    padding: 0.5rem 0rem;
    border-radius: 5px;
    overflow: hidden;
    width: 7rem;
    justify-self: end;
    cursor: pointer;
    margin: 10px; }
  .login__button-register {
    font-size: 1.2rem;
    border-bottom: 1px solid #05668d;
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
    padding: 0.5rem 0rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    background-image: linear-gradient(90deg, #05668d, #00a896);
    background-clip: text;
    color: transparent;
    cursor: pointer; }

.auth {
  display: none; }
  @media screen and (min-width: 600px) {
    .auth {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 2rem;
      position: relative; } }
  .auth__frame {
    display: grid;
    width: 60%;
    grid-template-columns: repeat(3, 33.333%);
    grid-template-rows: repeat(3, 33.333%); }
  .auth__cover {
    display: grid;
    width: 60%;
    grid-template-columns: repeat(3, 33.333%);
    grid-template-rows: repeat(3, 33.333%);
    position: absolute;
    top: 0;
    left: 20%; }
    .auth__cover-div {
      background-color: #05668d;
      width: 100%;
      height: 18rem;
      opacity: 0.75; }

.auth__frame-div-1 {
  background-image: url("./css/images/login1.jpg");
  width: 100%;
  height: 18rem;
  display: inline-block;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.auth__frame-div-2 {
  background-image: url("./css/images/login2.jpg");
  width: 100%;
  height: 18rem;
  display: inline-block;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.auth__frame-div-3 {
  background-image: url("./css/images/login3.jpg");
  width: 100%;
  height: 18rem;
  display: inline-block;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.auth__frame-div-4 {
  background-image: url("./css/images/login4.jpg");
  width: 100%;
  height: 18rem;
  display: inline-block;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.auth__frame-div-5 {
  background-image: url("./css/images/login5.jpg");
  width: 100%;
  height: 18rem;
  display: inline-block;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.auth__frame-div-6 {
  background-image: url("./css/images/login6.jpg");
  width: 100%;
  height: 18rem;
  display: inline-block;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.auth__frame-div-7 {
  background-image: url("./css/images/login7.jpg");
  width: 100%;
  height: 18rem;
  display: inline-block;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.auth__frame-div-8 {
  background-image: url("./css/images/login8.jpg");
  width: 100%;
  height: 18rem;
  display: inline-block;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.auth__frame-div-9 {
  background-image: url("./css/images/login9.jpg");
  width: 100%;
  height: 18rem;
  display: inline-block;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.row1 {
  grid-row: 1/2; }

.row2 {
  grid-row: 2/3; }

.row3 {
  grid-row: 3/4; }

.text {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 60%;
  font-size: 3rem;
  line-height: 1.7;
  color: wheat;
  font-family: 'Dancing Script', cursive;
  text-transform: capitalize;
  opacity: 0;
  padding-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .text input {
    width: 18rem;
    height: 3rem;
    border-radius: 5px;
    border: none;
    padding: 7px 12px;
    color: #05668d; }
  .text__login {
    text-decoration: underline;
    cursor: pointer; }
    .text__login:hover {
      color: peru; }

.error__msg__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25rem;
  height: 10rem;
  background-color: rgba(128, 128, 128, 0.562);
  position: absolute;
  top: 25%;
  right: 20%;
  left: 20%;
  padding: 1rem 2rem; }
  @media screen and (min-width: 600px) {
    .error__msg__container {
      width: 30rem;
      height: 15rem;
      background-color: #d7d7d9;
      color: #05668d;
      font-size: 1.6rem;
      position: absolute;
      top: 30%;
      right: 40%;
      left: 40%;
      border-radius: 7px; } }

.error__msg-close {
  width: 40%;
  background-color: #cf6d12;
  color: cornsilk;
  text-align: center;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  border-radius: 5px;
  cursor: pointer; }

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 85vh;
  position: fixed;
  top: 15vh;
  left: 0; }
  @media screen and (min-width: 600px) {
    .signup {
      display: none; } }
  .signup__grid {
    display: grid;
    grid-template-rows: repeat(4, 25%);
    width: 60%;
    height: 20rem;
    margin-right: 4rem; }
    .signup__grid > div {
      display: grid;
      grid-template-columns: 40% 60%;
      align-content: end; }
      .signup__grid > div > label {
        grid-column: 1/2;
        color: #05668d;
        padding-left: 1rem;
        font-size: 1.6rem; }
      .signup__grid > div > input {
        grid-column: 2/3;
        color: #f0f3bd;
        font-size: 1.6rem;
        background-image: linear-gradient(90deg, #05668d, #00a896);
        border: none;
        border-radius: 20px;
        padding: 0.7rem 0.7rem;
        padding-left: 1rem; }
  .signup__button-text {
    justify-self: end;
    width: 7rem;
    background-image: linear-gradient(90deg, #05668d, #00a896);
    color: #f0f3bd;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.8rem 1rem;
    font-size: 1.3rem;
    grid-column: 2/3; }

.signup-bg {
  display: none; }
  @media screen and (min-width: 600px) {
    .signup-bg {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #05668d;
      width: 60%;
      height: 58rem;
      margin: 0 auto;
      margin-top: 2rem; }
      .signup-bg__container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .signup-bg__container-title {
          font-size: 3.6rem;
          flex: 2;
          padding: 3rem;
          color: #f0f3bd;
          text-transform: uppercase;
          letter-spacing: 5px;
          word-spacing: 10px;
          padding-top: 6rem; } }
      @media screen and (min-width: 600px) and (min-width: 600px) and (max-width: 1000px) {
        .signup-bg__container-title {
          font-size: 2rem; } }
  @media screen and (min-width: 600px) {
        .signup-bg__container-text {
          flex: 2;
          font-size: 3rem;
          word-spacing: 18px;
          letter-spacing: 2px;
          line-height: 1.5;
          width: 40rem;
          column-count: 3;
          padding: 2rem 3rem;
          animation: shdw 6s ease-in-out infinite;
          overflow: hidden; } }
      @media screen and (min-width: 600px) and (min-width: 600px) and (max-width: 1000px) {
        .signup-bg__container-text {
          font-size: 2rem; } }
  @media screen and (min-width: 600px) {
          .signup-bg__container-text > div {
            font-size: inherit; }
        .signup-bg__container-button {
          flex: 2;
          font-size: 2rem;
          text-transform: capitalize;
          cursor: pointer;
          height: 3rem;
          text-decoration: underline;
          color: peru;
          text-decoration-color: #f0f3bd; } }

.before {
  display: none !important; }

.signup-form {
  display: grid;
  width: 60rem;
  height: 48rem;
  border: 1px solid grey;
  grid-template-rows: 60% repeat(4, 10%);
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 5px 5px grey; }
  .signup-form__header {
    grid-row: 1/2; }
    .signup-form__header-img {
      background-image: url("./css/images/login6.jpg");
      background-size: 100% 100%;
      background-position: top;
      width: 100%;
      height: 100%;
      display: inline-block;
      box-shadow: 10px 10px 10px 10px white inset, -10px -10px 10px 10px white inset; }
  .signup-form__displayname {
    grid-row: 2/3; }
  .signup-form__email {
    grid-row: 3/4; }
  .signup-form__password {
    grid-row: 4/5; }
  .signup-form__button {
    grid-row: 5/6;
    font-size: 1.8rem;
    color: #05668d;
    justify-self: flex-end;
    margin-right: 1rem;
    margin-top: 1rem;
    text-decoration: underline peru;
    cursor: pointer; }
  .signup-form__displayname, .signup-form__email, .signup-form__password, .signup-form__button {
    display: flex;
    flex-direction: row; }
  .signup-form label,
  .signup-form input {
    flex: 1;
    font-size: 1.6rem;
    padding: 0.5rem  1rem;
    color: #05668d;
    align-self: flex-end; }
  .signup-form input {
    border: none;
    border: 1px solid #05668d;
    margin-right: 2rem;
    margin-top: 1rem;
    border-radius: 10px; }

.btn-click {
  transform: translateY(-5px) scale(0.8);
  opacity: 0;
  transition: all 0.5s ease-in-out; }

@keyframes shdw {
  0% {
    text-shadow: 0px 0px black; }
  20% {
    text-shadow: 5px 5px black; }
  40% {
    text-shadow: 3px 15px #ad4444; }
  60% {
    text-shadow: 0px -10px black; }
  80% {
    text-shadow: -5px -15px #00a896; }
  100% {
    text-shadow: 0px 0px black; } }

.aside__button {
  width: 7rem;
  height: 3rem;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: unset;
  border: unset;
  background-color: #05668d;
  color: #f0f3bd;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  font-size: 1.2rem; }
  @media screen and (min-width: 600px) {
    .aside__button {
      width: 7rem;
      height: 3rem;
      margin: 1rem;
      border-radius: 5px;
      box-shadow: unset;
      border: unset;
      background-color: #05668d;
      color: #f0f3bd;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      width: 10rem; } }

.event-detail-container {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media screen and (min-width: 600px) {
    .event-detail-container {
      display: grid;
      grid-template-columns: 60% 40%;
      grid-template-rows: 30% 20% 1fr 1fr; } }
  @media screen and (min-width: 600px) {
    .event-detail-container h1 {
      display: none; } }

.event-header {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  background: #d7d7d9;
  margin: 1rem; }
  @media screen and (min-width: 600px) {
    .event-header {
      display: grid;
      grid-row: 1/2;
      grid-column: 1/2;
      width: 60%;
      margin: 3rem;
      background-color: white;
      grid-template-columns: 1fr;
      grid-template-rows: 80% 10% 10%; } }
  .event-header__cover {
    width: 70%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 5px;
    overflow: hidden; }
    @media screen and (min-width: 600px) {
      .event-header__cover {
        width: 100%;
        height: 30rem;
        border: 1px solid gray;
        grid-row: 1/2; } }
    .event-header__cover-img {
      background-image: url("./css/images/ai-sm.jpg");
      width: 100%;
      height: 100%;
      color: white;
      background-repeat: no-repeat;
      background-size: 100% 100%; }
    .event-header__cover-title {
      font-size: 2rem;
      color: #05668d;
      text-transform: uppercase; }
    .event-header__cover-date {
      font-size: 1.6rem;
      letter-spacing: 2px; }
    .event-header__cover-host {
      font-size: 1.4rem; }
  .event-header__button {
    width: 7rem;
    height: 3rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: unset;
    border: unset;
    background-color: #05668d;
    color: #f0f3bd;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    width: 10rem;
    text-align: center;
    padding: 1rem; }
    .event-header__button:active {
      transform: translateY(2px); }

.calendar,
.info-svg,
.location {
  width: 4rem;
  height: 4rem;
  display: inline-block;
  margin: 1rem; }

.event-info__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  margin: 2rem;
  font: 1.6rem; }
  @media screen and (min-width: 600px) {
    .event-info__container {
      grid-row: 2/3;
      grid-column: 1/2;
      width: 60%;
      margin: 3rem;
      font-size: 1.8rem; } }

.event-info__location, .event-info__info, .event-info__calendar {
  border-bottom: 1px solid #d7d7d9;
  padding: 1rem 2rem;
  margin: 0rem 2rem; }

@media screen and (min-width: 600px) {
  .event-attendee__container {
    grid-row: 1/2;
    grid-column: 2/3;
    width: 80%; } }

.event-attendee__container h2 {
  color: #05668d;
  text-transform: capitalize; }

.event-attendee__frame {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start; }

@media screen and (min-width: 600px) {
  .event-chat__container {
    grid-row: 3/4;
    grid-column: 1/2;
    width: 60%;
    margin: 3rem; } }

.attendee {
  max-width: 10rem;
  max-height: 12rem;
  border: 2px solid #d7d7d9;
  margin-top: 2rem;
  border-radius: 5px;
  box-shadow: 0px 2px 4px #d7d7d9;
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 2rem; }
  .attendee p {
    font-size: 1.6rem;
    text-align: center;
    color: #05668d;
    margin-top: 0.5rem; }
  .attendee img {
    border-radius: 50%;
    border: 1px solid white;
    display: inline-block;
    border: 5px solid #05668d; }

.profile__header {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
  background-color: #05668d;
  color: #f0f3bd;
  text-transform: uppercase;
  padding: 0.5rem 1rem; }
  @media screen and (min-width: 600px) {
    .profile__header {
      display: none; } }
  .profile__header svg {
    fill: #f0f3bd;
    cursor: pointer; }
  .profile__header-checkbox:checked .profile__links {
    color: pink; }

.profile__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 12rem;
  margin-top: 2rem;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 4px; }
  @media only screen and (min-width: 800px) {
    .profile__links {
      display: none; } }
  @media only screen and (max-width: 550px) {
    .profile__links {
      justify-content: space-around; }
      .profile__links a {
        border-bottom: 1px solid #05668d; } }
  .profile__links a {
    text-decoration: none;
    color: #05668d;
    padding: 1rem 2rem;
    font-size: 1.6rem; }
    @media only screen and (min-width: 550px) and (max-width: 800px) {
      .profile__links a {
        color: #f0f3bd;
        padding: 3rem 1rem;
        width: 20%;
        background-color: #05668d;
        text-align: end;
        font-size: 1rem; }
        .profile__links a:first-child {
          clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); }
        .profile__links a:not(:first-child) {
          clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%); } }

.profile__header-checkbox:hover .profile__links {
  color: pink; }

.basic {
  width: 90%;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap; }
  .basic h2 {
    color: #05668d;
    letter-spacing: 2px; }
  @media screen and (min-width: 600px) {
    .basic {
      width: 60%; } }
  .basic__displayname {
    width: 100%;
    height: 5rem;
    margin: 1rem; }
    .basic__displayname > input {
      width: 80%;
      padding: 1rem;
      border-radius: 5px;
      border: 1px solid #05668d;
      color: #05668d; }
    .basic__displayname > label {
      font-size: 1.5rem;
      color: #05668d; }
  .basic__gender {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    font-size: 1.5rem;
    color: #05668d;
    margin: 1rem; }
  .basic__birthday {
    width: 100%;
    height: 5rem;
    color: #05668d;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline; }
    .basic__birthday-input {
      width: 70%;
      height: 100%;
      color: #05668d;
      border-radius: 5px;
      border: none;
      border: 1px solid #05668d;
      text-align: center;
      padding: 0.5rem 1rem; }
  .basic__button {
    padding: 1rem 3rem;
    border-radius: 10px;
    border: none;
    border: 1px solid #f0f3bd;
    color: #05668d;
    letter-spacing: 2px; }
    .basic__button:hover {
      background-color: #05668d;
      color: #eee; }
    .basic__button:active {
      transform: translateY(2px); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  font-size: 10px;
  font-family: 'Roboto', sans-serif; }
